body{
    background-color: azure;
    margin-left: 25%;
    margin-right: 15%;
    font-family: sans-serif;
}
div{
    border-color: ghostwhite;
    border-style: groove;
    margin-bottom: 10px;
    padding-left: 120px;
    
}
