* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    background-color:#fff ;
    color: #000;
    font-family: 'Playfair+Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom:1}
.clearfix:after{
    content:".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row{
    margin: 0 auto ;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0,.7),rgba(0,0, 0, .7)), url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
}

.tech-talk-textbox{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* --- Headings --- */


h1{
    margin:0;
    font-size: 200%;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #fff;
    align-content: center;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
}
h2:after{
    display: block;
    width: 100px;
    height: 3px;
    background-color: #e67e22;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    
}
h3{
    font-size: 120%;
    margin-bottom: 20px;
}


/* ----- Paragraph ---- */



.long-para{
    line-height: 145%;
    letter-spacing: 1px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
    
}
.box p{
    font-size: 100%;
    line-height: 145%;
}

/* ---- Boxes--- */


.box{
    padding: 1%;
}


/* --- Icons --- */


.icon-big{
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-med{
    font-size: 125%;
    display: inline-block;
    text-align: center;
    color: #e67e22;
    margin-bottom: 10px;
    font-size: 125%;
    margin-right: 5px;
    /*tricks to aling and set text with icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: 5px;
}


/* -----Buttons---- */


.btn:link,
.btn:visited,input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 200px; 
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn{
    text-transform: full-width;
    font-size: 200%;
}
.button-tutorial:link,
.button-tutorial:visited{
    margin-top: 20px;
    margin-right: 50px;   
    color: #fff;
    border: 1.5px solid #ecf0f1;
    background-color: #e67e10;
}
.button-author:link,
.button-author:visited,
input[type=submit]{
    margin-top: 20px;
    color: #fff;
    border: 1.5px solid #fff;
}

.btn:hover,
.btn:active{
    border: 5px solid #e67e22;
    
}

.button-tutorial:hover,
.button-tutorial:active{
    border: 2px solid #e67e22;
    background-color: #e67e00;
    
}

.button-author:hover,
.button-author:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 2px solid #e67e22;
    background-color: #e67e22;
}


/* ---- logo --- */


.logo{
    float: left;
    width: 175px;
    padding: 20px 0px 0px 20px;
    width: 20%;
}


/*---- Navigation Bar ---- */


.main-nav {
    float: right;
}
.main-nav li {
    list-style: none;
    display: inline-block;
    margin-top: 65px;
    margin-right: 25px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 115%;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    padding: 10px 2px 10px 2px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    border-top: 2px solid #e67e22;
    font-size: 135%;
    transition: border .2s;
}

/* --- Section --- */


section {
    padding: 80px 60px;
}
.section-courses{
    margin: 0;
    padding: 0;
}
.section-works{
    background-color: #ecf0f1;
}
.section-locations{
    font-size: 110%;
    letter-spacing: 
    word-spacing: 2px;
    float: left;
}
.section-location .box{
    
}
.section-locations .box:hover,
.section-locations .box:active{
    background-color: #ecf0f1;
    transform: background .5s;
}

.section-plans{
    background-color: #f4f4f4;
}

/* ---- Course Menu --- */


.first-imageshow{
    list-style: none;
    width: 100%;
}
.first-imageshow li{
    display: block;
    float: left;
    width: 25%;
}
.menu-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.menu-photo img{
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
}
.menu-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}


/* how works */


.work-box{
    margin-top: 40px;
}
.work-box:first-child{
    text-align: right;
    padding-left: 12%;
    height: inherit;
}
.work-box:last-child{
    padding-left: 2%;
    padding-top: 4%;
    padding-bottom: 3.02%;
}
.app-photo{
    width: 80%;
    background-color: #ecf0f1;
}

.use-step{
    margin-bottom: 40px;
}
.use-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 5px;
    font-size: 140%;
    float: left;
    margin-right: 10px;
    
}
.use-step p{
        padding-top: 10px;
        font-size: 120%;
        margin-bottom: 30px;
}
.btn-app img{
    display: inline-block;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 20px;
}


/*---location--*/

.section-locations{

}
.section-locations img{
    width: 90%;
}
.section-locations a{
    text-decoration: none;
}

/*---testimonials---*/
.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0,.7),rgba(0,0, 0, .7)),url("../img/coding-job.png");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    padding: 3%;
    font-style: italic;
    line-height: 145%;
    letter-spacing: .5px;
    font-size: 115%;
    margin-bottom: 20px;
    position: relative;
}
blockquote:before {
    content: "\201c";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -20px;
}

cite{
    display: block;
    font-size: 90%;
}

cite img{
    border-radius: 50%;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

/* --- plans --- */

.plan-box{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}
.plan-box:hover,
.plan-box:active{
    box-shadow: 0px 3px 3px rgba(29, 14, 14, 0.23);
}
.plan-box div{
    padding: 15px;
    border-bottom: #e8e8e8 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.plan-price{
    font-size: 250%;
    font-weight: 100;
    color: #e76e20;
    padding-bottom: 15px;
}
.plan-price span{
    font-size: 50%;
    font-weight: 100;
}
.plan-box div:first-child{
    background-color: rgba(127, 143, 166, 0.33);
}
.plan-box div:last-child{
    text-align: center;
}
.plan-box ul{
    list-style: none;
    font-size: 125%;
}
.plan-box ul li{
    padding: 5px 0; 
}

.signup2:link,
.signup2:visited,
input[type=submit]{
    border: 2px solid #e76e20;
    color: #e76320
}
.signup2:hover,
.signup2:active,
input[type=submit]:hover,
input[type=submit]:active
{
    color:#fff;
}


/* --- plans --- */
.contact-form{
    width: 40%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00a8ff
}
input[type=checkbox]{
    margin: 10px;
}
*:focus{outline: none;}

/* --- plans --- */
.section-footer{
    margin: 0px;
    padding: 0px;
}
footer{
    background-color: #333;
}
.footer-nav{
    list-style: none;
    float: left;
    padding-left: 10%;
}
.footer-socials{
    list-style: none;
    float: right;
    padding-right: 10%;
}
.footer-nav li,
.footer-socials li{
    display: inline-block;
    margin-right: 20px;
    color: #e76e20;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.footer-socials li a:link,
.footer-socials li a:visited{
    text-decoration: none;
    border: 0;
    color: #e67e22;
    padding-bottom: 5px;
    border-bottom: 1px solid #e67e22;
    
}

.footer-nav li a:hover,
.footer-nav li a:active,
.footer-socials li a:hover,
.footer-socials li a:active{
    border-bottom: 2px solid #888;
    color: #888;
}

.footer-p{
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    color: #888;
}

